In [1]:
import wandb
import pandas as pd

In [2]:
profile = pandas_profiling.ProfileReport(df)
profile.to_widgets()

In [3]:
import wandb
import pandas as pd
import pandas_profiling

In [4]:
# Inital interfacing with weight and bias class
run = wandb.init(project="nyc_airbnb", group="eda", save_code=True)

# s
local_path = wandb.use_artifact("sample.csv:latest").file()

# Convert artifact into pandas dataframe
df = pd.read_csv(local_path)

In [5]:
profile = pandas_profiling.ProfileReport(df)
profile.to_widgets()

Summarize dataset:   0%|          | 0/29 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,9138664,Private Lg Room 15 min to Manhattan,47594947,Iris,Queens,Sunnyside,40.74271,-73.92493,Private room,74,2,6,2019-05-26,0.13,1,5
1,31444015,TIME SQUARE CHARMING ONE BED IN HELL'S KITCHEN...,8523790,Johlex,Manhattan,Hell's Kitchen,40.76682,-73.98878,Entire home/apt,170,3,0,NaN,NaN,1,188
2,8741020,Voted #1 Location Quintessential 1BR W Village...,45854238,John,Manhattan,West Village,40.73631,-74.00611,Entire home/apt,245,3,51,2018-09-19,1.12,1,0
3,34602077,Spacious 1 bedroom apartment 15min from Manhattan,261055465,Regan,Queens,Astoria,40.76424,-73.92351,Entire home/apt,125,3,1,2019-05-24,0.65,1,13
4,23203149,Big beautiful bedroom in huge Bushwick apartment,143460,Megan,Brooklyn,Bushwick,40.69839,-73.92044,Private room,65,2,8,2019-06-23,0.52,2,8
5,4402805,LRG 2br BKLYN APT CLOSE TO TRAINS AND PARK,22807362,Jenny,Brooklyn,Prospect-Lefferts Gardens,40.66025,-73.96270,Entire home/apt,120,3,3,2018-08-28,0.05,1,16
6,30070126,âœ©Prime Renovated 1/1 Apartment in Upper East S...,4968673,Sean,Manhattan,Upper East Side,40.76831,-73.95929,Entire home/apt,200,5,2,2019-05-26,0.68,1,71
7,34231172,Fully renovated brick house floor in Brooklyn,59642348,Kevin,Brooklyn,Sunset Park,40.64550,-74.01262,Entire home/apt,95,1,9,2019-07-08,9.00,1,106
8,5856760,"Renovated 1BR in exciting, convenient area",29408349,Chad,Manhattan,Chinatown,40.71490,-73.99976,Entire home/apt,179,5,7,2017-04-18,0.14,1,0
9,7929441,Beautiful Loft w/ Waterfront View!,1453898,Anthony,Brooklyn,Williamsburg,40.71268,-73.96676,Private room,105,2,232,2019-06-19,5.00,3,64

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
19990,5192459,Quiet Room in 4BR UWS Brownstone,10677483,Greg,Manhattan,Upper West Side,40.80173,-73.96625,Private room,70,1,0,NaN,NaN,1,0
19991,1327940,Huge Gorgeous Park View Apartment!,3290436,Hadar,Brooklyn,Flatbush,40.65335,-73.96257,Entire home/apt,120,3,13,2016-08-27,0.28,2,327
19992,23612681,Shared Room 1 Stop from Manhattan on the F Train,55724558,Taylor,Queens,Long Island City,40.76006,-73.94080,Private room,55,4,2,2019-06-01,0.65,5,89
19993,34485745,Midtown Manhattan Stunner - Private room,261632622,Royalton,Manhattan,Theater District,40.75491,-73.98507,Private room,100,1,3,2019-06-16,3.00,9,318
19994,25616250,"Stylish, spacious, private 1BR apt in Ditmas Park",125396920,Adam,Brooklyn,Flatbush,40.64314,-73.95705,Entire home/apt,75,3,10,2019-01-03,0.84,1,0
19995,7094539,Tranquil haven in bubbly Brooklyn,2052211,Adriana,Brooklyn,Windsor Terrace,40.65360,-73.97546,Entire home/apt,143,14,2,2016-08-27,0.04,1,10
19996,4424261,Large 1 BR with backyard on UWS,3447311,Sarah,Manhattan,Upper West Side,40.80188,-73.96808,Entire home/apt,200,2,22,2019-05-21,0.50,1,0
19997,4545882,Amazing studio/Loft with a backyard,23569951,Kaveh,Manhattan,Upper East Side,40.78110,-73.94567,Entire home/apt,220,3,28,2019-05-23,0.50,1,293
19998,26518547,U2 comfortable double bed sleeps 2 guests,295128,Carol Gloria,Bronx,Clason Point,40.81225,-73.85502,Private room,80,1,4,2019-07-01,1.48,7,365
19999,33631782,Private Bedroom in Williamsburg Apt!,8569221,Andi,Brooklyn,Williamsburg,40.71829,-73.95819,Private room,109,3,3,2019-04-28,1.07,2,97

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [6]:
df.shape

(20000, 16)

In [7]:
df['minimum_nights']

0         2
1         3
2         3
3         3
4         2
         ..
19995    14
19996     2
19997     3
19998     1
19999     3
Name: minimum_nights, Length: 20000, dtype: int64

In [8]:
df['minimum_nights'].describe()

count    20000.000000
mean         6.992100
std         21.645449
min          1.000000
25%          1.000000
50%          2.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

In [9]:
df[df['minimum_nights'] == 7]

             id                                               name    host_id  \
27     22064197             Upper West Side Central Park apartment   20153029
47      3565617                           Modern sunny one bed apt   17953139
100    18675599                Large Place bushwick with furniture  129812563
111    18913450                          Light Filled Private Room   27982346
118    13845597                          1 Bedroom in williamsburg   81730337
...         ...                                                ...        ...
19956  26868019          Private Furnishured Room for Rent.  (W/M)  202070950
19963   5671922                       Perfect Holiday House in NYC    1434654
19977   9170129  New Apt -2 Blocks CENTRAL PARK Near COLUMBIA UNIV   46973966
19984   7644505                   Contemporary Brooklyn Town House   29999716
19985   1701981    Modern, Light-Filled Apt in Chelsea/Meatpacking    1120027

         host_name neighbourhood_group       neighbourhood  latitude  \
27             Tal           Manhattan     Upper West Side  40.77244
47           Oisin           Manhattan     Lower East Side  40.72110
100         Roodmy            Brooklyn            Bushwick  40.69416
111    Christopher           Manhattan         East Harlem  40.79729
118       Geoffray            Brooklyn        Williamsburg  40.70912
...            ...                 ...                 ...       ...
19956        Nancy           Manhattan  Washington Heights  40.85333
19963       Andrew              Queens           Ridgewood  40.70730
19977       Lorena           Manhattan              Harlem  40.79939
19984        Scott            Brooklyn         South Slope  40.66393
19985         Clay           Manhattan             Chelsea  40.74072

       longitude        room_type  price  minimum_nights  number_of_reviews  \
27     -73.98043  Entire home/apt    190               7                  0
47     -73.98397  Entire home/apt    175               7                  9
100    -73.90816     Private room     45               7                 11
111    -73.93537     Private room     49               7                  5
118    -73.94107  Entire home/apt    150               7                  0
...          ...              ...    ...             ...                ...
19956  -73.93050     Private room    100               7                  0
19963  -73.91775  Entire home/apt    160               7                  3
19977  -73.95470  Entire home/apt    249               7                107
19984  -73.98728  Entire home/apt    300               7                  0
19985  -74.00438  Entire home/apt    200               7                 11

      last_review  reviews_per_month  calculated_host_listings_count  \
27            NaN                NaN                               1
47     2018-12-07               0.27                               1
100    2017-09-20               0.42                               1
111    2017-12-29               0.21                               1
118           NaN                NaN                               1
...           ...                ...                             ...
19956         NaN                NaN                               1
19963  2016-08-13               0.06                               2
19977  2019-06-23               2.40                               2
19984         NaN                NaN                               1
19985  2019-06-22               1.17                               1

       availability_365
27                    0
47                  255
100                   0
111                   0
118                   0
...                 ...
19956               365
19963                15
19977               249
19984                 0
19985                11

[855 rows x 16 columns]

In [10]:
df[df['minimum_nights'] == 10]

             id                                               name    host_id  \
66     10801094                    FT Greene Flat Private Entrance   11189753
245    16081134                        Well connected private room   24630962
368     9958442                NYC 2BR ap for HOLIDAYS in the CITY   10558287
395      113945                          Cozy room in Time Square!     275582
473     4645831           Light filled room w/full size bed in LES   24052348
...         ...                                                ...        ...
19450   8439145          Beautiful, Secure, Central NYC Apartment!    7654837
19677  10798553     Gorgeous Greenpoint:  Sublet April 10th - 27th     798949
19739  22667815  Beautiful Private Room in Cobble Hill Brownstone!   22550357
19769  19064354                     Cozy master room (female only)  127784473
19940   4616865                     Colorful Room in Crown Heights    6028908

      host_name neighbourhood_group     neighbourhood  latitude  longitude  \
66           Sj            Brooklyn       Fort Greene  40.68729  -73.96995
245       Ercio            Brooklyn      Williamsburg  40.70627  -73.94947
368      Julian           Manhattan          Kips Bay  40.74390  -73.97974
395     Natalia           Manhattan    Hell's Kitchen  40.75835  -73.99193
473        Tara           Manhattan      East Village  40.72052  -73.98003
...         ...                 ...               ...       ...        ...
19450    George           Manhattan           Midtown  40.75287  -73.97439
19677    Rachel            Brooklyn        Greenpoint  40.72540  -73.95246
19739      Will            Brooklyn       Cobble Hill  40.69010  -73.99523
19769      Zeyu           Manhattan  Roosevelt Island  40.76548  -73.94675
19940     Kelly            Brooklyn     Crown Heights  40.67569  -73.95548

             room_type  price  minimum_nights  number_of_reviews last_review  \
66     Entire home/apt    225              10                 10  2019-06-24
245       Private room     70              10                 17  2018-03-13
368    Entire home/apt    199              10                  0         NaN
395       Private room     85              10                116  2019-05-11
473        Shared room     65              10                 21  2017-12-30
...                ...    ...             ...                ...         ...
19450  Entire home/apt    149              10                  3  2019-01-01
19677  Entire home/apt     99              10                  0         NaN
19739     Private room     85              10                 19  2018-11-24
19769     Private room     55              10                  1  2017-07-08
19940     Private room     38              10                  0         NaN

       reviews_per_month  calculated_host_listings_count  availability_365
66                  0.26                               4               350
245                 0.61                               1                 0
368                  NaN                               1                 0
395                 1.17                               1               174
473                 0.38                               4                 0
...                  ...                             ...               ...
19450               0.13                               1                14
19677                NaN                               1                 0
19739               1.06                               1                 0
19769               0.04                               1                 0
19940                NaN                               1                 0

[183 rows x 16 columns]

In [11]:
df[df['minimum_nights'] == 20]

             id                                               name    host_id  \
132    17624418         LOFTY 3 BEDROOMS DUPLEX 30MN FROM DOWNTOWN    6978404
256    17431995  2 bedroom apt. in Manhattan-Gramercy apt building  117932348
587      289665                Decorators 5-Star Flat West Village    1503831
627      454763                                For Cat-Lovers ONLY    2259061
811     9879167                Beautiful apartment in Williamsburg    1090021
...         ...                                                ...        ...
19410  12827123  Beautiful Park Slope Room with Rooftop & Backyard   15398860
19834   9758735                  1 Bedroom Holiday Sublet in Bklyn     411677
19879   6958652                Brooklyn Room Available [furnished]   33069475
19880   7859630                Brooklyn Room Available (furnished)   33069475
19982   8205572                 Cool Chill Space In a 5BR 2.5 bath   10387090

          host_name neighbourhood_group       neighbourhood  latitude  \
132          Samira            Brooklyn           Bay Ridge  40.62645
256         Deborah           Manhattan            Gramercy  40.73521
587            Elle           Manhattan        West Village  40.72891
627            Felo           Manhattan              Inwood  40.86717
811             Ian            Brooklyn        Williamsburg  40.71400
...             ...                 ...                 ...       ...
19410        Harlan            Brooklyn         South Slope  40.66631
19834           Eli            Brooklyn            Flatbush  40.63565
19879          Sean            Brooklyn  Bedford-Stuyvesant  40.68928
19880          Sean            Brooklyn  Bedford-Stuyvesant  40.68980
19982  Luis Enrique            Brooklyn            Bushwick  40.68358

       longitude        room_type  price  minimum_nights  number_of_reviews  \
132    -74.02888  Entire home/apt    165              20                  0
256    -73.98147  Entire home/apt    155              20                 25
587    -74.00293  Entire home/apt    450              20                157
627    -73.91940  Entire home/apt     99              20                 11
811    -73.94062  Entire home/apt    100              20                  0
...          ...              ...    ...             ...                ...
19410  -73.98268     Private room     50              20                  0
19834  -73.96434  Entire home/apt     70              20                  0
19879  -73.93153     Private room     40              20                 42
19880  -73.92989     Private room     40              20                 23
19982  -73.90884     Private room     36              20                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
132           NaN                NaN                               1
256    2019-07-05               1.06                               2
587    2016-08-11               1.71                               1
627    2018-08-16               0.18                               1
811           NaN                NaN                               1
...           ...                ...                             ...
19410         NaN                NaN                               1
19834         NaN                NaN                               1
19879  2019-06-09               1.12                               2
19880  2019-05-13               0.49                               2
19982         NaN                NaN                               5

       availability_365
132                  46
256                  62
587                   0
627                 249
811                  51
...                 ...
19410                 0
19834                 0
19879               257
19880               206
19982               346

[101 rows x 16 columns]

In [12]:
df[df['minimum_nights'] == 365]

             id                                               name    host_id  \
3493    6654984             Beautiful apartment in trendy Brooklyn    5417600
7718   30981877                                  The NYC Adventure  231474021
9802   10514203                Giant Landmark Apartment in the Sky    3710888
10634  24740209         Long term/16 month sublet. Great location!    4267075
11748  13963005                       Gorgeous 2 Bedroom apartment   41870118
11957   2037951                      Modern West Village Apartment    4191006
12397  16095062  THANKSGIVING up to 6 GUESTS + HOT TUB + FIREPLACE  104911818
13343    992977                       Park Slope Pre-War Apartment    4000059
13615  12916189     Family Friendly BK Townhome With Garden Oasis!     951917
13728   5402632  Private BDR/BATH in Luxury Condo near Times Sq...   27927011
16459    258690                CHELSEA 1 Bdrm Plus Sleeping Loft!!    1359611
16635  10386936                      Private Room in Williamsburg!   53471415
17838   2454507                 Close to everything - Jr 1 bedroom    9991763
18343   1586935                   Luxury Gramercy Lg 1Bd w Balcony    8457613

            host_name neighbourhood_group       neighbourhood  latitude  \
3493           Elvira            Brooklyn          Park Slope  40.67376
7718              Cyn           Manhattan         East Harlem  40.78724
9802             Lisa            Brooklyn          Park Slope  40.67546
10634             Jen            Brooklyn        Clinton Hill  40.68458
11748           Iveta              Queens        Forest Hills  40.72064
11957            Nick           Manhattan        West Village  40.73858
12397        Samantha            Brooklyn        Clinton Hill  40.69487
13343        Shahdiya            Brooklyn          Park Slope  40.67359
13615  Julia And Juan            Brooklyn         Sunset Park  40.66224
13728          Ashley           Manhattan      Hell's Kitchen  40.75755
16459          Andrea           Manhattan             Chelsea  40.74618
16635            Mark            Brooklyn        Williamsburg  40.71141
17838          Andrew           Manhattan  Financial District  40.70781
18343            Erin           Manhattan            Gramercy  40.73494

       longitude        room_type  price  minimum_nights  number_of_reviews  \
3493   -73.98397  Entire home/apt    200             365                  4
7718   -73.94940     Private room     65             365                  1
9802   -73.97528     Private room    350             365                  0
10634  -73.96805  Entire home/apt     89             365                  1
11748  -73.83746  Entire home/apt   2350             365                  0
11957  -74.00875     Private room    500             365                  0
12397  -73.96572     Private room    225             365                  0
13343  -73.97434  Entire home/apt    100             365                  1
13615  -73.99805  Entire home/apt    196             365                  4
13728  -73.99305     Private room     99             365                  7
16459  -74.00392  Entire home/apt    195             365                 10
16635  -73.95155     Private room   1002             365                 10
17838  -74.00701  Entire home/apt    130             365                  6
18343  -73.98751  Entire home/apt    250             365                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
3493   2018-06-16               0.14                               1
7718   2019-05-17               0.57                               1
9802          NaN                NaN                               1
10634  2018-08-23               0.09                               2
11748         NaN                NaN                               1
11957         NaN                NaN                               1
12397         NaN                NaN                               1
13343  2013-08-01               0.01                               1
13615  2018-05-20               0.12                               1
13728  2018-03-08               0.14                               1
16459  2014-10-26               0.12                               1
16635  2016-05-19               0.25                               1
17838  2016-10-02               0.10                               1
18343         NaN                NaN                               1

       availability_365
3493                173
7718                  0
9802                364
10634                 0
11748               364
11957                 0
12397                90
13343               365
13615               365
13728               337
16459                 0
16635               365
17838               262
18343               365

In [13]:
df['minimum_nights'].describe()

count    20000.000000
mean         6.992100
std         21.645449
min          1.000000
25%          1.000000
50%          2.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

In [14]:
df['calculated_host_listings_count'].describe()

count    20000.000000
mean         6.955450
std         32.433831
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max        327.000000
Name: calculated_host_listings_count, dtype: float64

In [15]:
# Drop outliers on price
min_price = 10
max_price = 350

idx_price = df["price"].between(min_price, max_price)
df = df[idx_price].copy()

# Drop outliers on minimum_night
min_night = 1
max_night = 100

idx_night = df["minimum_night"].between(min_night, max_night)
df = df[idx_night].copy()

# Drop on  calculated_host_listings_count 
min_listing_count = 1
max_listing_count = 20
idx_listing = df["calculated_host_listings_count"].between(min_night, max_night)
df = df[idx_listing].copy()

# Drop outlier on sd
#Convert last_review to datetime
df['last_review'] = pd.to_datetime(df['last_review'])

In [16]:
df['minimum_night'].describe()

In [17]:
df['minimum_nights'].describe()

count    19001.000000
mean         6.906900
std         21.456544
min          1.000000
25%          1.000000
50%          2.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

In [18]:
df['price'].describe()

count    19001.000000
mean       122.340456
std         71.530346
min         10.000000
25%         66.000000
50%        100.000000
75%        160.000000
max        350.000000
Name: price, dtype: float64

In [19]:
# Drop outliers on price
min_price = 10
max_price = 350

idx_price = df["price"].between(min_price, max_price)
df = df[idx_price].copy()

# Drop outliers on minimum_night
min_night = 1
max_night = 100

idx_night = df["minimum_nights"].between(min_night, max_night)
df = df[idx_night].copy()

# Drop on  calculated_host_listings_count 
min_listing_count = 1
max_listing_count = 20
idx_listing = df["calculated_host_listings_count"].between(min_night, max_night)
df = df[idx_listing].copy()

# Drop outlier on sd
#Convert last_review to datetime
df['last_review'] = pd.to_datetime(df['last_review'])

In [20]:
df.info()

In [21]:
profile = pandas_profiling.ProfileReport(df)
profile.to_widgets()

Summarize dataset:   0%|          | 0/30 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

,df_index,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,0,9138664,Private Lg Room 15 min to Manhattan,47594947,Iris,Queens,Sunnyside,40.74271,-73.92493,Private room,74,2,6,2019-05-26,0.13,1,5
1,1,31444015,TIME SQUARE CHARMING ONE BED IN HELL'S KITCHEN...,8523790,Johlex,Manhattan,Hell's Kitchen,40.76682,-73.98878,Entire home/apt,170,3,0,NaT,NaN,1,188
2,2,8741020,Voted #1 Location Quintessential 1BR W Village...,45854238,John,Manhattan,West Village,40.73631,-74.00611,Entire home/apt,245,3,51,2018-09-19,1.12,1,0
3,3,34602077,Spacious 1 bedroom apartment 15min from Manhattan,261055465,Regan,Queens,Astoria,40.76424,-73.92351,Entire home/apt,125,3,1,2019-05-24,0.65,1,13
4,4,23203149,Big beautiful bedroom in huge Bushwick apartment,143460,Megan,Brooklyn,Bushwick,40.69839,-73.92044,Private room,65,2,8,2019-06-23,0.52,2,8
5,5,4402805,LRG 2br BKLYN APT CLOSE TO TRAINS AND PARK,22807362,Jenny,Brooklyn,Prospect-Lefferts Gardens,40.66025,-73.96270,Entire home/apt,120,3,3,2018-08-28,0.05,1,16
6,6,30070126,âœ©Prime Renovated 1/1 Apartment in Upper East S...,4968673,Sean,Manhattan,Upper East Side,40.76831,-73.95929,Entire home/apt,200,5,2,2019-05-26,0.68,1,71
7,7,34231172,Fully renovated brick house floor in Brooklyn,59642348,Kevin,Brooklyn,Sunset Park,40.64550,-74.01262,Entire home/apt,95,1,9,2019-07-08,9.00,1,106
8,8,5856760,"Renovated 1BR in exciting, convenient area",29408349,Chad,Manhattan,Chinatown,40.71490,-73.99976,Entire home/apt,179,5,7,2017-04-18,0.14,1,0
9,9,7929441,Beautiful Loft w/ Waterfront View!,1453898,Anthony,Brooklyn,Williamsburg,40.71268,-73.96676,Private room,105,2,232,2019-06-19,5.00,3,64

,df_index,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
18659,19990,5192459,Quiet Room in 4BR UWS Brownstone,10677483,Greg,Manhattan,Upper West Side,40.80173,-73.96625,Private room,70,1,0,NaT,NaN,1,0
18660,19991,1327940,Huge Gorgeous Park View Apartment!,3290436,Hadar,Brooklyn,Flatbush,40.65335,-73.96257,Entire home/apt,120,3,13,2016-08-27,0.28,2,327
18661,19992,23612681,Shared Room 1 Stop from Manhattan on the F Train,55724558,Taylor,Queens,Long Island City,40.76006,-73.94080,Private room,55,4,2,2019-06-01,0.65,5,89
18662,19993,34485745,Midtown Manhattan Stunner - Private room,261632622,Royalton,Manhattan,Theater District,40.75491,-73.98507,Private room,100,1,3,2019-06-16,3.00,9,318
18663,19994,25616250,"Stylish, spacious, private 1BR apt in Ditmas Park",125396920,Adam,Brooklyn,Flatbush,40.64314,-73.95705,Entire home/apt,75,3,10,2019-01-03,0.84,1,0
18664,19995,7094539,Tranquil haven in bubbly Brooklyn,2052211,Adriana,Brooklyn,Windsor Terrace,40.65360,-73.97546,Entire home/apt,143,14,2,2016-08-27,0.04,1,10
18665,19996,4424261,Large 1 BR with backyard on UWS,3447311,Sarah,Manhattan,Upper West Side,40.80188,-73.96808,Entire home/apt,200,2,22,2019-05-21,0.50,1,0
18666,19997,4545882,Amazing studio/Loft with a backyard,23569951,Kaveh,Manhattan,Upper East Side,40.78110,-73.94567,Entire home/apt,220,3,28,2019-05-23,0.50,1,293
18667,19998,26518547,U2 comfortable double bed sleeps 2 guests,295128,Carol Gloria,Bronx,Clason Point,40.81225,-73.85502,Private room,80,1,4,2019-07-01,1.48,7,365
18668,19999,33631782,Private Bedroom in Williamsburg Apt!,8569221,Andi,Brooklyn,Williamsburg,40.71829,-73.95819,Private room,109,3,3,2019-04-28,1.07,2,97

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [22]:
# Data infomation after remvoe outliers on 3 columns
df.info()

In [23]:
run.finish()